numpy==1.26.4
opencv-python==4.10.0.84
opencv-contrib-python==4.10.0.84
pillow
tensorflow==2.15.0
tf-keras==2.15.0
mediapipe==0.10.14
deepface==0.0.91
pandas
matplotlib
fastapi
uvicorn[standard]
websockets
python-multipart